[Unit]
Description=Taxi Bot
After=syslog.target
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/root/taxitgbot
ExecStart=/root/taxitgbot/venv/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target